* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 80vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b2021;
  margin: 0px;
  transition: background-color 0.4s ease, color 0.4s ease;
  margin: 0;
}

main {
  background-color: #1b2021;
  width: 100%;
}

/* HOME BACKGROUND IMG */
.home {
  align-items: center;
  background: url("images/js.webp") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  position: relative;
  width: 100%;
}

.home::before {
  content: "";
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.home,
.main_content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.header_title {
  color: #b5d6d6;
  font-size: 3.5rem;
  text-align: center;
}

.subtitle {
  color: #b5d6d6;
  font-size: 2rem;
  text-align: center;
}

/* NAVBAR FOR DESKTOP */
.menu {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 10px;
}

.menu a {
  color: #e787a4;
  font-size: 1.2rem;
  text-decoration: none;
}
/* BURGER MENU FOR IPHONE */
.burger {
  display: none; /* hide on desktop */
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: #b5d6d6;
  display: block;
}

/* HOME */
.home_title {
  color: #e5a5b8;
  margin: 10px;
  text-align: left;
}

.home_description {
  color: #e5a5b8;
  font-size: 18px;
  margin: 10px;
  text-align: left;
}

/* PROJECT CARD */
.flex_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
  text-align: center;
  padding: 60px 20px;
}

.flex_cards h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.card_group {
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.card {
  background: #89023e;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  max-width: 80%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* CARD IMAGES */
.card img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: #e787a4;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #dcdbdb;
  margin-bottom: 15px;
}

.link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1b2021;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;
}

.link:hover {
  background-color: #e9b9c7;
  color: #1b2021;
}

/* ABOUT ME*/
.about_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.profile_img {
  border: 4px solid #e787a4;
  border-radius: 20%;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.about_text {
  color: #b5d6d6;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* SKILLS */
.skills_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  list-style: none;
  padding: 20px;
}

.project_title {
  color: #e787a4;
  text-align: center;
}

.skill-tag {
  background: #333;
  color: #e787a4;
  padding: 10px 20px;
  border: 2px solid #e787a4;
  border-radius: 6px;
}

.tags {
  color: #e5a5b8;
}

/* CONTACT */
.email_link {
  color: white;
  background-color: #e94677;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s;
}

.email_link:hover {
  background-color: #e89db4;
  color: #484848;
}

/* FOOTER */
.footer {
  background-color: #15191a;
  padding: 40px 10px;
  text-align: center;
  color: #b5d6d6;
}

.footer_bottom {
  margin-top: 30px;
  font-size: 0.8rem;
  opacity: 0.6;
}

/* Desktop layout for about me */
@media (min-width: 768px) {
  .about_content {
    flex-direction: row;
    justify-content: center;
  }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 6px;
    margin-top: 10px;
    position: relative;
    z-index: 1001;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 80vh;
    background-color: #e787a4;
    width: 100%;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    top: 80px;
  }

  .menu.active {
    display: flex;
    transform: translateX(0);
  }

  .menu a {
    font-size: 2rem;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
}
