* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 80vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b2021;
  margin: 0px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

main {
  width: 100%;
}

/*--- HOME BACKGROUND IMG ---*/
.home {
  align-items: center;
  background: url("images/js.webp") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  position: relative;
  width: 100%;
}

.home::before {
  content: "";
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.home,
.main_content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.header_title {
  color: #e787a4;
  font-size: 3.5rem;
  text-align: center;
}

.subtitle {
  color: #b5d6d6;
  font-size: 2rem;
  text-align: center;
}

/*--- NAVBAR FOR DESKTOP ---*/
.menu {
  background-color: #1b2021;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 0px;
  top: 0px;
  position: sticky;
  padding: 12px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  z-index: 1000;
}

.menu a {
  color: #e787a4;
  font-size: 1.2rem;
  text-decoration: none;
}

/*--- NAVBAR CHANGE COLOUR ---*/
.menu.scrolled {
  background-color: #89023e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
}

/*--- BURGER MENU FOR IPHONE ---*/
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: #e787a4;
  display: block;
}

/*--- HOME ---*/
.home_title {
  color: #e5a5b8;
  margin: 10px;
  text-align: left;
}

.home_description {
  color: #e5a5b8;
  font-size: 18px;
  margin: 10px;
  text-align: left;
}

/*--- PROJECT CARD ---*/
.flex_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

.flex_cards h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.card_group {
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.card {
  background: #89023e;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/*--- CARD IMAGES ---*/
.card img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: #e787a4;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #dcdbdb;
  margin-bottom: 15px;
}

.link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1b2021;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;
}

.link:hover {
  background-color: #e9b9c7;
  color: #1b2021;
}

/*--- ABOUT ME ---*/
.about_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.profile_img {
  border: 2px solid #e787a4;
  border-radius: 10%;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.about_me {
  color: #d6c9d0;
  font-size: 1.2rem;
  line-height: 1.5;
}

/*--- SKILLS ---*/
.skills_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  list-style: none;
  padding: 20px;
}

.project_title {
  font-size: 2rem;
  color: #e787a4;
  text-align: center;
}

.skill-tag {
  background: #333;
  color: #e787a4;
  padding: 10px 20px;
  border: 2px solid #e787a4;
  border-radius: 6px;
}

.tags {
  color: #e5a5b8;
}

/*--- CONTACT ---*/
.email_link {
  color: black;
  background-color: #e94677;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s;
}

.email_link:hover {
  background-color: #89023e;
  color: #e4dadf;
}

.email_link.linkedin:hover {
  background-color: #1065c4;
  color: #dcdbdb;
}

.email_link.github:hover {
  background-color: #333;
  color: #d6c9d0;
}

/*--- FOOTER ---*/
.footer {
  background-color: #15191a;
  padding: 40px 10px;
  text-align: center;
  color: #d6c9d0;
}

.footer_bottom {
  margin-top: 30px;
  font-size: 0.8rem;
  opacity: 0.6;
}

/* Desktop layout for about me */
@media (min-width: 768px) {
  .about_content {
    flex-direction: row;
    justify-content: center;
  }
}

/* --- MEDIA QUERIES ---*/
@media (max-width: 768px) {
  .header {
    align-items: center;
    background-color: #1b2021;
    display: flex;
    height: 70px;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1002;
  }

  .header_title {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 6px;
    margin: 0;
    position: relative;
    z-index: 1003;
  }

  .menu {
    background-color: #89023e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    top: 80px;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    width: 100%;
    z-index: 1000;
  }

  .menu.active {
    display: flex;
    transform: translateX(0);
  }

  .menu a {
    color: white;
    font-size: 2rem;
    padding: 20px;
    text-decoration: none;
  }
}
